#Scala
target
*.class
*.log

#IntelliJ
*.iml
*.ipr
*.iws
.idea
out

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#OSX
.DS_Store
